@import "reset.css";

body {
  background-color: rgb(207, 216, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  width: 100%;
}

.main-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  width: 750px;
  padding-top: 50px;
  padding-bottom: 5px;
  position: sticky;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  padding: 75px 0;
}

.checklists-container {
  margin-bottom: 25px;
  width: 75%;
}

.checklist {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: inherit;
  height: 50px;
  word-break: break-all;
  word-wrap: break-word;
}

.checklist-txt {
  font-size: 18px;
  margin-left: 25px;
  margin-right: 50px;
  color: #2c2c2c;
}

.checklist-form {
  padding-bottom: 25px;
  width: 75%;
  display: none;
  justify-content: center;
}

.checklist-input {
  width: 100%;
  height: 25px;
  padding: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  background: transparent;
  border-style: none none solid none;
  border-color: rgba(0, 0, 0, 0.3);
  outline: none;
  box-sizing: border-box;
}

.long-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.check-btn {
  min-width: 25px;
  height: 25px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 12.5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

.del-btn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0px;
  background-color: #ff7675;
  color: #ffffff;
}

.btns-container {
  margin-top: 25px;
  width: inherit;
  display: flex;
  justify-content: center;
}

.add-btn {
  background-color: rgba(0, 187, 0, 0.75);
  outline: none;
  margin-right: 5px;
}

.cancel-btn {
  display: none;
  background-color: rgba(255, 118, 117, 0.9);
  outline: none;
  margin-right: 5px;
}

.clear-btn {
  background-color: rgba(9, 132, 227, 0.8);
  outline: none;
  margin-left: 5px;
}

.font-helvetica {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 750px) {
  .section-container {
    width: 100%;
  }

  .main-title {
    width: 100%;
    margin-left: 5px;
    position: sticky;
  }
}
